/* Estilos para o carousel hero com tamanho fixo */

#header-carousel {
  height: 500px;
  overflow: hidden;
}

#header-carousel .carousel-inner {
  height: 100%;
}

#header-carousel .carousel-item {
  height: 100%;
  position: relative;
}

#header-carousel .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#header-carousel .carousel-caption {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

/* Responsividade */
@media (max-width: 992px) {
  #header-carousel {
    height: 400px;
  }
}

@media (max-width: 768px) {
  #header-carousel {
    height: 350px;
  }
}

@media (max-width: 576px) {
  #header-carousel {
    height: 300px;
  }
}

